<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="keywords" content="2019年放假安排,劳动节放假2019,2019年春节放假安排,2019年清明节放假安排,2019元旦放假安排">
    <meta name="description" content="2019年怎么放假？怎么调休？2019年元旦放假时间安排、2019年春节放假时间安排、2019年清明节放假时间安排、2019年劳动节放假时间安排、2019年十一国庆放假时间安排">
    <%- include('../../common/head', {title:'2019年放假安排'}) %>
</head>

<body>
    <%- include('../../common/header', {title: '2019年放假安排', desc: '在线2019年放假时间安排表',  bigBanner:false}) %>
    <div class="am-container" style="padding: 8px;">
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">2019年放假时间表</h1>
                <p class="am-article-meta">好乎 | www.haohuu.com</p>
            </div>

            <div class="am-article-bd">
                <div class="am-article-lead">
                    <h1>元旦假期安排</h1>
                    <p>
                        2019年元旦放假3天，<br>
                        其中2018年12月30日<br>
                        至2019年1月1日放假调休，<br>
                        2018年12月29日（周六）正常上班。<br>
                    </p>
                    <div class="am-article-divider"></div>
                    <h1>春节假期安排</h1>
                    <p>
                        2019年春节是2月5日（星期二），<br>
                        根据规定春节法定放假时间<br>
                        是除夕到初六，调休7天。<br>
                        2019年2月2日、2月3日需上班调休。<br>
                    </p>
                    <div class="am-article-divider"></div>
                    <h1>清明节假期安排</h1>
                    <p>
                        清明节刚好遇上周末<br>
                        2019年清明节是4月5日，星期五。<br>
                        2019年清明放假安排：<br>
                        4月5日（清明节）-4月7日（星期日），<br>
                        共放假3天。<br>
                    </p>
                    <div class="am-article-divider"></div>
                    <h1>劳动节假期安排</h1>
                    <p>
                        清明节刚好遇上周末<br>
                        因为放假前一周或要连续工作7天！<br>
                        4月27日和28日（周六日）上班调休！<br>
                        2019年4月29日至5月1日放假，<br>
                        共3天！<br>
                    </p>
                    <div class="am-article-divider"></div>
                    <h1>端午节假期安排</h1>
                    <p>
                        6月7日星期五，与周末连休。<br>
                        6月7日-6月9日，共放假3天。<br>
                    </p>
                    <div class="am-article-divider"></div>
                    <h1>中秋节假期安排</h1>
                    <p>
                        2019年9月13日-9月15日<br>
                        共放假3天。<br>
                    </p>
                    <div class="am-article-divider"></div>
                    <h1>国庆节假期安排</h1>
                    <p>
                        2019年10月1日至10月7日<br>
                        放假7天！<br>
                        2019年10月8日正常上班。<br>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <%- include('../../common/recoms', {tools:tools}) %>
    <%- include('../../common/body') %>
    <%- include('../../common/footer') %>
</body>

</html>