<head>
    <meta name="keywords" content="在线工具,程序员,工具,占位图片,在线尺子,微信对话生成器,站长工具,手机号查询,5色环电阻阻值计算">
    <meta name="description" content="在线工具,开发人员工具,手机号查询,微信对话生成器,计算器,5色环电阻阻值计算,占位图片在线制作">
    <%- include('../common/head', {title:'好用的在线工具-好乎'}) %>
</head>

<body>
    <%- include('../common/header', {title: '关于我<del>们</del>', desc: '喜欢做游戏的程序不是好站长', bigBanner:false}) %>
    <div class="am-container" id="container">
        <p class="am-kai">全职<del>游戏</del>程序<small>(打码原因: 游戏里最懂前端的、前端里最懂后台的、后台里最懂游戏的)</small></p>
        <p class="am-kai">兼职站长、<del>独立</del>游戏开发者<small>(打码原因: 懒癌换装从没做完成过独立游戏)</small></p>
        <p class="am-kai">前<del>腾讯</del>工程师<small>(打码原因: 英雄不问出处)</small></p>
        <p class="am-kai">现住美丽的海滨城市·大连</p>
        <b class="am-kai">如果这里没有你想要的工具<br>可以直接邮件告诉我<br>我会当做课题做成在线小工具</b>
    </div>
    <%- include('../common/body') %>
    <%- include('../common/footer') %>
</body>