<head>
    <meta name="keywords" content="在线工具,程序员,工具,占位图片,在线尺子,微信对话生成器,站长工具,手机号查询,5色环电阻阻值计算">
    <meta name="description" content="在线工具,开发人员工具,手机号查询,微信对话生成器,计算器,5色环电阻阻值计算,占位图片在线制作">
    <%- include('../common/head', {title:'好用的在线工具-好乎'}) %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../common/header', {title: '好乎', desc: '最好的在线工具', bigBanner:true}) %>
    <!-- <%- include('../common/banner', {title: '在线工具', desc: '好乎——最好用在线工具'}) %> -->
    <div class="am-container" style="min-height: 300px;" id="container">
        <div class="am-g">
            <% 
            for(var i=0; i<tools.length; i++){ 
                var tool = tools[i];
            %>
            <div class="am-u-sm-12 am-u-md-4">
                <a class="tool-card" data-am-scrollspy="{animation: 'fade'}" href="<%=tool.link%>">
                    <div class="title">
                        <div class="iconfont <%=tool.icon%>" style="background: <%=tool.color%>;"></div>
                        <div class="title-right">
                            <h3><%=tool.name%></h3>
                            <small><%=tool.desc%></small>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
    <%- include('../common/body') %>
    <%- include('../common/footer') %>
</body>