<head>
    <meta name="keywords" content="在线工具,程序员,工具,占位图片,在线尺子,微信对话生成器,站长工具,手机号查询,5色环电阻阻值计算">
    <meta name="description" content="在线工具,开发人员工具,手机号查询,微信对话生成器,计算器,5色环电阻阻值计算,占位图片在线制作">
    <%- include('../common/head', {title:'好用的在线工具-好乎'}) %>
</head>

<body>
    <%- include('../common/header', {title: '关于我<del>们</del>', desc: '喜欢做游戏的程序不是好站长', bigBanner:false}) %>
    <div class="am-container" id="container">
        <!-- <img src="/assets/my-friend.jpg"> -->
    </div>
    <%- include('../common/body') %>
    <%- include('../common/footer') %>
</body>