<div style="width:100%;background:#43b5ef;margin-bottom: 30px;padding-top:30px;padding-bottom:30px;">
    <h1 style="color:#333;text-align: center;"><%=title%></h1>
    <p style="color:#fff;text-align: center;"><%=desc%></p>
</div>