<footer class="footer">
    <p id="copyright">Copyright © 2014-2018 <a href="http://www.haohuu.com" style="color:#fff;">www.haohuu.com</a> 版权所有</p>
    <p class="footer-hezuo">商务合作 <a href="emailto:wilhan.tian@gmail.com" style="color:#fff;">wilhan.tian</a></p>
    <p class="footer-hezuo"><a href="http://www.lanhuu.com" style="color:#fff;">兰乎</a> <a href="http://www.498box.com" style="color:#fff;">程序员</a></p>
</footer>